<br/>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
          <div class="container Rochester-Bold-Max"><h1 class="text-center">{{ lang.login }}</h1></div>
      </div>
      <div class="card-body">
        <div class="container" align="center">
          <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
              <a routerLink="/home"><img class="profile-img" src="/assets/img/dogRight.png" alt="" width="150" height="150"></a>
              <form class="form-signin">
                <br/>
                {{ lang.eMail }}
                <input type="text" class="form-control" required autofocus>
                <br/>
                {{ lang.password }}
                <input type="password" class="form-control" required>
                <br/>
                <button routerLink="/dashboard" class="button btn btn-success btn-lg btn-block" type="button">{{ lang.login }}</button>
                <label class="checkbox pull-left">
                  <br/>
                  <input type="checkbox" value="remember-me">
                    {{ lang.rememberMe }}
                </label>
                <a href="#" class="pull-right need-help">{{ lang.needHelp }}</a><span class="clearfix"></span>
              </form>
            </div>
            <a routerLink="/signup" class="text-center new-account">{{ lang.signup }}</a>
          </div>
          <br/><br/><br/><br/><br/><br/>
        </div>
      </div>
    </div>
  </div>
</div>