<br/>
<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <div class="container Rochester-Bold-Max">
          <h1 class="text-center">{{ lang.signup }}</h1>
        </div>
      </div>
      <div class="card-body">
        <div class="container" align="center">
          <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
              <a><img class="profile-img" src="/assets/img/dogRight.png" alt="" width="150" height="150" routerLink="/home"></a>
              <form class="form-signin">
                <br/>
                {{ lang.eMail }}
                <input type="text" class="form-control" required autofocus>
                <br/>
                {{ lang.password }}
                <input type="password" class="form-control" required>
                <br/>
                {{ lang.confirmPassword }}
                <input type="password" class="form-control" required>
                <br/>
                <button class="btn btn-success btn-lg btn-block" type="submit">{{ lang.signup }}</button>
                <label class="checkbox pull-left">
                  <br/>
                  <input type="checkbox" value="remember-me">
                    {{ lang.termsAndConditions }}
                    <a href="#" class="pull-right need-help">{{ lang.termsAndConditionsLink }}</a><span class="clearfix"></span>
                </label>
              </form>
            </div>
          </div>
          <br/><br/><br/><br/><br/><br/>
        </div>
      </div>
    </div>
  </div>
</div>
